#container {
  width: 600px;
  height: 600px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.box {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 28px;
  width: 28px;
}
