#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  border: 1px solid black;
  background-color: grey;
  width: 6%;
}

.box:after {
  content: "";
  display: block;
  padding-top: 100%;
}
